<div class="mobile-screen">
    <div class="header">
      <h1>Log in</h1>
    </div>

    <div class="logo">
    </div>


    <form id="login-form" [formGroup]="oFormularioLogin">
        <div class="form-outline mb-4">
            <input type="text" id="username" class="form-control" placeholder="Enter a username" name="username"
              formControlName="username" />
          </div>
          <div class="form-outline mb-3">
            <input type="password" id="password" class="form-control" placeholder="Enter password" name="password"
              formControlName="password" />
          </div>
      <div (click)="login()"  class="login-btn">Log in</div>
    </form>

  </div>
