<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">Lista de tipousuarios</h1>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th (click)="setOrder('id')">ID
                    <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                    <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
                  </th>
                  <th (click)="setOrder('nombre')">Nombre
                    <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                    <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
                  </th>
              <th>Usuarios</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tipousuario of this.getPlistContent()">
              <td>{{tipousuario.id}}</td>
              <td>{{tipousuario.nombre}}</td>
              <td><button class="btn btn-outline-secondary btn-sm" [routerLink]="['/admin','usuario','plist','tipousuario',tipousuario.id]"
                [disabled]="tipousuario.usuarios<=0">{{tipousuario.usuarios}}</button></td>
              <td>
                <div class="btn-group" role="group" aria-label="Herramientas">
                    <button class="btn btn-sm btn-primary" [routerLink]="['/admin/tipousuario/view',tipousuario.id]">
                      <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-warning" [routerLink]="['/admin/tipousuario/edit',tipousuario.id]">
                      <fa-icon [icon]="faUserPen"></fa-icon>
                    </button>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
