<table class="table table-bordered table-striped d-flex justify-content-center">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oEvento.id}}</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>{{oEvento.fecha}}</td>
        </tr>
        <tr>
            <td>Descripcion</td>
            <td>{{oEvento.descripcion}}</td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td class="imagen"><img src="{{oEvento.imagen}}" alt="" width="100%"></td>
        </tr>
    </tbody>
  </table>
