<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oAccion.id}}</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>{{oAccion.fecha}}</td>
        </tr>
        <tr>
            <td>Descripcion</td>
            <td>{{oAccion.descripcion}}</td>
        </tr>
        <tr>
            <td>Incidencia</td>
            <td>{{oAccion.incidencia.id}}-{{oAccion.incidencia.lugar}}</td>
        </tr>
    </tbody>
  </table>
