<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">Lista de Incidencias</h1>
        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
          <app-search-unrouted [placeHolder]="'Buscar incidencia'" (onSearch)="setFilter( $event )"></app-search-unrouted>
          <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.size"
          (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
        </div>
        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
            (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
        <div class="col-md text-start">
          <h5 class="" *ngIf="strTermFilter!=''">Filtrando por {{strTermFilter}} (borrar para resetear)</h5>
          <button class="btn btn-danger" *ngIf="id_usuarioFilter!=0" (click)="setFilterByUsuario(0)">
            <i class="bi bi-x-circle"></i> Eliminar filtro de usuario {{id_usuarioFilter}}</button>
        </div>
        <div class="col-md text-end">
          <h5 class="">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
              <th (click)="setOrder('id')">ID
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('lugar')">Lugar
                <fa-icon *ngIf="sortField=='lugar'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='lugar'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('fecha')">Fecha</th>
              <th (click)="setOrder('descripcion')">Descripcion</th>
              <th (click)="setOrder('usuario')">Usuario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let incidencia of responseFromServer.content">
              <td>{{incidencia.id}}</td>
              <td>{{incidencia.lugar}}</td>
              <td>{{incidencia.fecha}}</td>
              <td>{{incidencia.descripcion}}</td>
              <td (click)="setFilterByUsuario(incidencia.usuario.id)">
                {{incidencia.usuario.id}}-{{incidencia.usuario.usuario}}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Herramientas">
                    <button class="btn btn-sm btn-primary" (click)="selectionIncidencia(incidencia.id)">
                      Seleccionar
                    </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
