<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oIncidencia.id}}</td>
        </tr>
        <tr>
            <td>Lugar</td>
            <td>{{oIncidencia.lugar}}</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>{{oIncidencia.fecha}}</td>
        </tr>
        <tr>
            <td>Descripcion</td>
            <td>{{oIncidencia.descripcion}}</td>
        </tr>
        <tr>
            <td>Usuario</td>
            <td>{{oIncidencia.usuario.id}}-{{oIncidencia.usuario.usuario}}</td>
        </tr>
    </tbody>
  </table>
