<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">Lista de eventos</h1>
        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
          <app-search-unrouted [placeHolder]="'Buscar evento'" (onSearch)="setFilter( $event )"></app-search-unrouted>
          <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.size"
          (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
        </div>
        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
            (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
        <div class="col-md text-end">
          <h5 class="text-muted">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th (click)="setOrder('evento')">ID
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('evento.descripcion')">Descripcion</th>
              <th (click)="setOrder('evento.fecha')">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let participacion of responseFromServer.content">
              <td>{{participacion.evento.id}}</td>
              <td>{{participacion.evento.descripcion}}</td>
              <td>{{participacion.evento.fecha}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
