<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oMultimedia.id}}</td>
        </tr>
        <tr>
            <td>Archivo</td>
            <td class="imagen"><img src={{oMultimedia.archivo}} alt="" width="100%"></td>
        </tr>
        <tr>
            <td>Evento ID</td>
            <td>{{oMultimedia.evento.id}}</td>
        </tr>
        <tr>
            <td>Evento Fecha</td>
            <td>{{oMultimedia.evento.fecha}}</td>
        </tr>
    </tbody>
  </table>
