<div class="m-5">
    <div class="row  justify-content-center">
      <div class="col-6">
        <h1 class="text-center mb-5">Salida del sistema</h1>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">¿Está seguro de que desea salir del sistema?</h5>
            <p class="card-text">Si lo hace, deberá volver a iniciar sesión para acceder al sistema.</p>
            <div class="text-center">
                <button routerLink="/home" class="cancelar-btn">Cancelar</button>
              <button routerLink="/login" (click)="logout()" class="logout-btn">Cerrar Sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

