<div class="container mt-5">
  <div class="row  justify-content-center">
    <div class="col-6">
      <h1 class="text-center mb-5">Salida del sistema</h1>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¿Está seguro de que desea salir del sistema?</h5>
          <p class="card-text">Si lo hace, deberá volver a iniciar sesión para acceder al sistema.</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary m-1" routerLink="/home">Cancelar</a>
            <a href="#" class="btn btn-warning m-1" routerLink="/login" (click)="logout()">Salir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>