<div class="background">
    <div id="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum maximus ornare. Aliquam erat
                metus, efficitur lacinia ultrices at, ultrices eget nunc. Pellentesque in condimentum nisi. Donec
                hendrerit metus lacus, non congue dolor mollis ut. Suspendisse blandit pellentesque dignissim. Nunc
                tincidunt dolor in eros tristique suscipit. Vivamus at arcu sed justo iaculis venenatis.
            </p>
        </div>
    </div>

