<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-5">Borrado del usuario con id={{id}}</h1>
            <app-incidencia-detail-admin-unrouted [id]="id"></app-incidencia-detail-admin-unrouted>
            <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
                <div class="col-md-5 control-group text-center">
                    <div class="alert alert-danger my-3" role="alert">
                        <h3>¿Está seguro que quiere borrar el usuario?</h3>
                        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center my-4">
                            <a class="btn btn-danger mx-2" (click)="removeOne()">
                                SI</a>
                            <a class="btn btn-success mx-2" (click)="oLocation.back()">
                                NO </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal de bootstrap-->
<div class="modal fade" id="removeInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">CasaMarruecos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{msg}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
