<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">Lista de usuarios</h1>
        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
          <a [routerLink]="['/admin/usuario/new']" class="btn btn-primary mx-3">Alta de usuario</a>
          <app-search-unrouted [placeHolder]="'Buscar usuario'" (onSearch)="setFilter( $event )"></app-search-unrouted>
          <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.size"
          (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
        </div>
        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
            (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
        <div class="col-md text-start">
          <h5 class="" *ngIf="strTermFilter!=''">Filtrando por {{strTermFilter}} (borrar para resetear)</h5>
          <button class="btn btn-danger" *ngIf="id_tipousuarioFilter!=0" (click)="setFilterByTipousuario(0)">
            <i class="bi bi-x-circle"></i> Eliminar filtro de tipousuario {{id_tipousuarioFilter}}</button>
        </div>
        <div class="col-md text-end">
          <h5 class="">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
        </div>
        <table class="table table-bordered table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th (click)="setOrder('id')">ID
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('nombre')">Nombre
                <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('apellido1')">Apellido1</th>
              <th (click)="setOrder('apellido2')">Apellido2</th>
              <th (click)="setOrder('email')">Email</th>
              <th (click)="setOrder('usuario')">Usuario</th>
              <th (click)="setOrder('tipousuario')">Tipo Usuario</th>
              <th>Participaciones</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of responseFromServer.content">
              <td>{{usuario.id}}</td>
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.apellido1}}</td>
              <td>{{usuario.apellido2}}</td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.usuario}}</td>
              <td (click)="setFilterByTipousuario(usuario.tipousuario.id)">
                {{usuario.tipousuario.id}}-{{usuario.tipousuario.nombre}}</td>
                <td class="bg-"><button class="btn btn-outline-secondary btn-sm" (click)="openModalParticipacion(usuario.id, usuario.participaciones)"
                        [disabled]="usuario.participaciones<=0">{{usuario.participaciones}}</button></td>
              <td>
                <div class="btn-group" role="group" aria-label="Herramientas">
                  <button class="btn btn-sm btn-primary" [routerLink]="['/admin/usuario/view',usuario.id]">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>
                  <button class="btn btn-sm btn-warning" [routerLink]="['/admin/usuario/edit',usuario.id]">
                    <fa-icon [icon]="faUserPen"></fa-icon>
                  </button>
                  <button class="btn btn-sm btn-danger" [routerLink]="['/admin/usuario/remove',usuario.id]">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">CasaMarruecos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{msg}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

  <div class="modal fade" id="openParticipacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <app-participacion-plistevento-admin-unrouted [id]="id_usuario" (click)="closeParticipacionModal"></app-participacion-plistevento-admin-unrouted>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
