<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let image of fotos; let i = index" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let image of fotos; let i = index" class="carousel-item" [class.active]="i === 0">
        <img [src]="image" class="d-block w-100 carrousel-image">
        <button class="btn btn-secondary back-button" [routerLink]="['/user','evento','plist']">
            Volver atrás
            <span class="back-button-icon">←</span>
          </button>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

