<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oUsuario.id}}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{oUsuario.nombre}}</td>
        </tr>
        <tr>
            <td>Apellido1</td>
            <td>{{oUsuario.apellido1}}</td>
        </tr>
        <tr>
            <td>Apellido2</td>
            <td>{{oUsuario.apellido2}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{oUsuario.email}}</td>
        </tr>
        <tr>
            <td>Usuario</td>
            <td>{{oUsuario.usuario}}</td>
        </tr>
        <tr>
            <td>Tipousuario</td>
            <td>{{oUsuario.tipousuario.id}}-{{oUsuario.tipousuario.nombre}}</td>
        </tr>
    </tbody>
  </table>
