<table class="user-profile">
    <tr>
      <th colspan="2" class="header">Perfil de Usuario</th>
    </tr>
    <tr>
      <td class="label">Nombre:</td>
      <td class="data">{{oUsuario.nombre}}</td>
    </tr>
    <tr>
      <td class="label">Apellido 1:</td>
      <td class="data">{{oUsuario.apellido1}}</td>
    </tr>
    <tr>
      <td class="label">Apellido 2:</td>
      <td class="data">{{oUsuario.apellido2}}</td>
    </tr>
    <tr>
      <td class="label">Email:</td>
      <td class="data">{{oUsuario.email}}</td>
    </tr>
    <tr>
      <td class="label">Nombre de usuario:</td>
      <td class="data">{{oUsuario.usuario}}</td>
    </tr>
</table>
<button class="edit-button">Editar usuario</button>
