table.user-profile {
    width: 40%;
    margin: 50px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px gray;
  }
  td{
    background-color: white;
  }

  .header {
    background-color: #222543;;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 20px;
    text-align: center;
  }

  .label {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    background-color: #09a9d0;
    color: white;
    padding: 10px;
    border-bottom: 1px solid gray;
  }

  .data {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .edit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #222543;
    color: #09a9d0;
    border-color: #09a9d0;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .edit-button:hover {
    background-color: #09a9d0;
    color: #222543;
    border-color: #222543;
    right: 0px;
}

  @media only screen and (max-width: 600px) {
    table.user-profile {
      width: 100%;
    }

    .header {
      font-size: 20px;
    }

    .label,
    .data {
      font-size: 16px;
      padding: 5px;
      text-align: left;
    }

    .label {
      display: none;
    }
    .edit-button {
        width: 100%;
      }
  }
