/* You can add global styles to this file, and also import other style files */
.table {
 font-size: 0.9rem;
 font-weight: bold;
}

body{
    min-height: 100vh;
    background-color: #968ca4;
}

tr{
    background-color: white;
}

label{
    color: white;
    font-weight: bold;
}

.goback{
    margin: 2%;
    text-align: center;
}

.goback-btn {
    background-color: #222543;
    color: #09a9d0;
    border-color: #09a9d0;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.goback-btn:hover {
    background-color: #09a9d0;
    color: #222543;
    border-color: #222543;
    right: 0px;
}

