*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    max-width: 100%;
}

article.card{
    max-width: 350px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #d7d7d7;
}

.header-card img{
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}

.categoria-card{
    margin-top: 1rem;
}

.categoria-card span{
    background: #25c4d8;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 4px;
}

.categoria-card span.cerrado{
    background: red;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 4px;
}

.card footer{
    padding: 0 1rem;
}

.card-wrap{
    display: flex;
    flex-flow: wrap;
    gap: 3%;
}
.boton-perfil-card{
    float: right;
    margin-bottom: 6px;
}
.fondo{
    background-color: #968ca4;
}
