<div class="fondo">
    <div class="paginacion m-5" >
    <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
    (eePage)="setPage($event)"></app-pagination-unrouted>
    <app-search-unrouted class="d-flex justify-content-center" [placeHolder]="'Buscar evento'" (onSearch)="setFilter( $event )"></app-search-unrouted>
    </div>
<div class="card-wrap">
    <article class="card" *ngFor="let evento of responseFromServer.content">
        <header class="header-card">
            <img src="{{evento.imagen}}" alt="" width="50%">
        </header>
        <footer class="footer-card">
            <div class="categoria-card">
                <span *ngIf="fechaisLater(evento.fecha)">Disponible</span>
                <span class="cerrado"
                *ngIf="!fechaisLater(evento.fecha)">Cerrado</span>
            </div>
            <div class="texto-card">
                <h3>{{ evento.fecha | date: 'dd/MM/yyyy' }}</h3>
                <p>
                    {{evento.descripcion}}
                </p>
            </div>
            <button class="" [routerLink]="['/user','evento','plist','multimedia',evento.id]">Ver Galeria</button>
            <div class="boton-perfil-card btn-group" role="group" *ngIf="fechaisLater(evento.fecha)">
                <button class="unirse-btn m-1" (click)="unirseEvento(evento.id)" *ngIf="participacionesUser.indexOf(evento.id)<=0; else elseBlock">Unirse</button>
                <ng-template #elseBlock>
                <button class="cancelar-btn m-1"  (click)="borrarParticipacion(evento.id)">Dejar de participar</button>
                </ng-template>
            </div>
        </footer>
    </article>
</div>
</div>

<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          {{modalContent}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

