a{
    font: oblique bold 120% cursive;
    color: #dadadaad;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
a:hover, a:focus{
    color: rgb(255, 255, 255);
}


nav{
    background-color: #3b3b3ba4;
}