<form [formGroup]="oForm" *ngIf="oForm" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" formControlName="nombre">

    <label for="apellido1">Apellido1:</label>
    <input type="text" id="apellido1" name="apellido1" formControlName="apellido1">

    <label for="apellido2">Apellido2:</label>
    <input type="text" id="apellido2" name="apellido2" formControlName="apellido2">

    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" formControlName="usuario">
    <div class="form-outline">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" formControlName="email">
    </div>
    <button type="submit" class="edit-btn" [disabled]="!oForm.dirty || (oForm.invalid && oForm.dirty)">Enviar</button>
</form>

<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          {{modalContent}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
